{% extends 'base.html.twig' %}

{% block title %}Hello SavingsController!{% endblock %}

{% block body %}
<style>

</style>

<div class="container d-flex flex-column align-items-center">
    <h1>Functie binnenkort beschikbaar!</h1>
    <p>Deze functie is momenteel nog niet beschikbaar, maar binnenkort zal deze beschikbaar zijn.</p>
    <a href="{{ path('app_home') }}" class="btn btn-primary">Terug naar Home</a>

</div>
{% endblock %}
